nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 8;
  margin-top: -80px;
  display: flex;
  width: 100%;
  align-items: baseline;
  padding: 20px 0;
  justify-content: space-between;
}

.nav-bg {
  background-color: rgba(0, 0, 0, 0.902);
}

.logo {
  cursor: pointer;
  margin: 0 40px;
  font-size: 1.75rem;
  font-weight: 700;
  color: #fff;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
}

.links > .navbar-btn {
  cursor: pointer;
  margin: 0 20px;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 600px) {
  nav {
    margin-top: -110px;
  }

  .links > .navbar-btn {
    margin: 0 15px;
    font-size: 1rem;
  }

  .logo {
    margin: 0 25px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 450px) {
  .links > .navbar-btn {
    margin: 0 10px;
    font-size: 0.75rem;
  }

  .logo {
    margin: 0 15px;
    font-size: 1rem;
  }
}
