.quote-generator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  text-align: center;
}

.quote-gen-wrapper {
  padding: 0 30px;
}
