@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.hero-section {
  display: flex;
  justify-content: center;
  padding: 0px 30px;
  height: 800px;
  position: relative;
  z-index: 1;
}

.hero-section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
  z-index: 2;
}

.video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.page-content {
  color: #fff;
  z-index: 3;
  width: 100%;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.page-heading {
  color: #fff;
  font-size: 48px;
  text-align: center;
  font-weight: 800;
}

.quote {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .page-heading {
    font-size: 40px;
  }

  .quote {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .page-heading {
    font-size: 32px;
  }

  .quote {
    font-size: 1.25rem;
  }
}

.btn {
  cursor: pointer;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #e777e7;
  border-radius: 50px;
  border: none;
  outline: none;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  transition: all 0.2s ease-in-out;
  color: #000;
}

.btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: #f0c16a;
}

.icon {
  margin-left: 5px;
}

.quote {
  text-align: center;
}

.form {
  text-align: center;
  margin: 20px 0;
}

.info-container {
  background-color: rgb(255, 188, 255);
}

.dark {
  background-color: rgb(240, 193, 106);
}

@media screen and (max-width: 768px) {
  .info-container {
    padding: 60px 0;
  }
}

.info-section {
  display: grid;
  z-index: 1;
  height: 850px;
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  padding: 0 40px 0 10px;
  margin-left: auto;
  justify-content: center;
}

.info-row {
  display: grid;
  grid-auto-columns: minmax(auto, 1fr);
  align-items: center;
  grid-template-areas: "col1 col2";
}

.col1 {
  margin-bottom: 15px;
  padding: 0 15px;
  grid-area: col1;
}

.col2 {
  margin-bottom: 15px;
  padding: 0 15px;
  grid-area: col2;
}

.imgStart {
  grid-template-areas: "col2 col1";
}

@media screen and (max-width: 768px) {
  .imgStart {
    grid-template-areas: "col1" "col2";
  }

  .info-row {
    grid-template-areas: "col1 col1" "col2 col2";
  }
}

.text-wrap {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.text-wrap-signup {
  max-width: 540px;
  padding: 0;
}

.top-line {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600px;
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 32px;
  }
}

.subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.img-wrapper {
  max-width: 555px;
  height: 100%;
}

img {
  width: 100%;
  margin: 0 0 10px 0;
  padding-right: 0;
}
